p::before{
    content: "Hello World!";
    color: red;
    font-size: 50px;
}
p::after{
    content: "->";
    font-size: 50px;
    color: green;
}
.div{
    height: 200px;
    width: 350px;
    background-color: black;
    &::before{
        content: "Руддщц цщкдв";
        color:  white;
        border: 2px solid white;
    }
}
